<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<title>FileUpload</title>
<!--/*/ <th:block th:include="fragments/header :: meta"></th:block> /*/-->
</head>
<body>


<!--/*/ <th:block th:replace="fragments/header :: accountHeader"></th:block> /*/-->

<div class="container-fluid ">    
	  		<div class="row">
	  			<div class="col-sm-2 text-left nopadding">
						<!--/*/ <th:block th:replace="fragments/other :: sidebar"></th:block> /*/-->
				</div>

				<div class="col-sm-8 well">	
					<div id="message"></div>
					<div class="page-header">
						<h1 th:text="#{addOffer.pageHeader}"></h1>
					</div>
					<form id="fileupload" th:action="@{/upload}" enctype="multipart/form-data" method="post" role="form">
									 <!-- Redirect browsers with JavaScript disabled to the origin page 
								        <noscript><input type="hidden" name="redirect" value="https://blueimp.github.io/jQuery-File-Upload/"></noscript>
								        -->
								         <h3 th:text="#{addOffer.uploadPic}"></h3><span th:text="'('+#{addOffer.pictureConstraint}+')'"></span>
								        <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
								        <div class="fileupload-buttonbar">
								            
								                <!-- The fileinput-button span is used to style the file input field as button -->
								                <span class="btn btn-success fileinput-button">
								                    <i class="glyphicon glyphicon-plus"></i>
								                    <span th:text="#{addOffer.addFiles}">Add files...</span>
								                    <input type="file" name="files[]" multiple required>
								                </span>
								                <button type="submit" class="btn btn-primary start">
								                    <i class="glyphicon glyphicon-upload"></i>
								                    <span th:text="#{addOffer.startUpload}">Start upload</span>
								                </button>
								                <button type="reset" class="btn btn-warning cancel">
								                    <i class="glyphicon glyphicon-ban-circle"></i>
								                    <span th:text="#{addOffer.cancelUpload}">Cancel upload</span>
								                </button>
								                <button type="button" class="btn btn-danger delete">
								                    <i class="glyphicon glyphicon-trash"></i>
								                    <span th:text="#{addOffer.deletePic}">Delete</span>
								                </button>
								                <input type="checkbox" class="toggle">
								                <!-- The global file processing state -->
								                <span class="fileupload-process"></span>
								            
								            <!-- The global progress state -->
								            <div class="fileupload-progress fade">
								                <!-- The global progress bar -->
								                <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
								                    <div class="progress-bar progress-bar-success" style="width:0%;"></div>
								                </div>
								                <!-- The extended global progress state -->
								                <div class="progress-extended">&nbsp;</div>
								            </div>
								        </div>
								        <!-- The table listing the files available for upload/download -->
								        <table role="presentation" class="table table-striped"><tbody class="files"></tbody></table>
									 
									 
							    
							
					</form>    	
	
					<form id="form" enctype="multipart/form-data" th:object="${offerInput}" role="form">
									 <h3 th:text="#{addOffer.describeOffer}"></h3>
									 <div class="form-group">
												<label for="title" th:text="#{addOffer.title}"></label><i th:text="' (' +#{addOffer.titleConstraint}+')'"></i>
												<input required th:value="*{title}" name="title" type="text" class="form-control" id="title" th:attr="placeholder=#{addOffer.titlePlaceholder}">
									 </div>
									 
									 <!-- Category Select -->
									 <div class="form-group">
										   <label for="category" th:text="#{addOffer.category}">Category</label>
										   <select id="category" class="form-control" th:field="*{category}">
										    		<!-- <option selected disabled th:text="#{addOffer.selectCategory}" th:value="${offer.description}"></option> -->
											    	<option th:each="category : ${categorysi18}" th:text="${category.localName}" th:value="${category.name}"></option>
										   </select> 
									 </div>
									 
									 
									 <div class="form-group">
												<label for="description" th:text="#{addOffer.description}">Description</label><i th:text="' (' +#{addOffer.descriptionConstraint}+')'"></i>
												<textarea th:field="*{description}" id="description" name="description" rows="3" class="form-control" th:attr="placeholder=#{addOffer.descriptionPlaceholder}"></textarea>
									 </div> 
									 
									<!-- <!--  <!-- Shipping checkbox
									  <div class="form-group">
										 <label th:text="#{addOffer.shippingOptionHeader}" style="display:block;"></label> 
										 <div th:each="ship : ${shippingList}" style="display:inline; margin-right:10px;">
												<input type="checkbox" th:field="*{selectedShippingOptions}" th:value="${ship}" >
												<th:block th:for="${#ids.prev('selectedShippingOptions')}" th:text="${ship}" style="margin-right:50px;">label </th:block>
										 </div>
									 </div> 
									 
									 Payment checkbox
									 <div class="form-group">
										 <label th:text="#{addOffer.paymentOptionHeader}" style="display:block;"></label> 
										 <div th:each="pay : ${paymentList}" style="display:inline; margin-right:10px;" >
												<input type="checkbox" th:field="*{selectedPaymentOptions}" th:value="${pay}" >
												<th:block th:for="${#ids.prev('selectedPaymentOptions')}" th:text="${pay}" style="margin-right:50px;">label </th:block>
										 </div>
									 </div> --> 
									 
									 	<input class="btn btn-success btn-block btn-lg" type="submit" th:attr="value=#{addOffer.submitButton}">
							</form>
							
				</div>
				
				<div id="ads" class="col-sm-2">
					<div class="well">
					 <p>ads</p>
					</div>
					<div class="well">
					 <p>ads</p>
					</div>
				</div>				
									
    <br>
   
	</div>
</div>

<script>
function getOfferData(){
	var offer = { title : $("#form #title").val(),
				 category : $("#form #category").val(),
				 description : $("#form #description").val()}
	return offer;
}
function scrollToMessage(){
// 	window.scrollTo(0,0);
	 $('html, body').animate({scrollTop: $("#message").offset().top}, 2000);
}

$('#form').on('submit',function(event){
	event.preventDefault();
	var formData = getOfferData();
	$.ajax({
        type:'POST',
        url: '/addOffer',
        contentType : 'application/json; charset=utf-8',
    	data : JSON.stringify(formData),
		success: function(data){
			if(data.success)
				$("#message").addClass("alert alert-success").append($("<span>").text(data.success));
				scrollToMessage();
        	else{
        		$("#message").addClass("alert alert-danger").append($("<span>").text(data.error));
				scrollToMessage();
			}
			
		},
		error: function(data){
			$("#message").addClass("alert alert-danger").append($("<span>").text("Error occured, Please try again."));
		}
		
	});
});
</script>

<!-- The template to display files available for upload -->
<script id="template-upload" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-upload fade">
        <td>
            <span class="preview"></span>
        </td>
        <td>
            <p class="name">{%=file.name%}</p>
            <strong class="error text-danger"></strong>
        </td>
        <td>
            <p class="size">Processing...</p>
            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
        </td>
        <td>
            {% if (!i && !o.options.autoUpload) { %}
                <button class="btn btn-primary start" disabled>
                    <i class="glyphicon glyphicon-upload"></i>
                    <span>Start</span>
                </button>
            {% } %}
            {% if (!i) { %}
                <button class="btn btn-warning cancel">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>Cancel</span>
                </button>
            {% } %}
        </td>
    </tr>
{% } %}
</script>
<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-download fade">
        <td>
            <span class="preview">
                {% if (file.thumbnailUrl) { %}
                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery><img src="{%=file.thumbnailUrl%}"></a>
                {% } %}
            </span>
        </td>
        <td>
            <p class="name">
                {% if (file.url) { %}
                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" {%=file.thumbnailUrl?'data-gallery':''%}>{%=file.name%}</a>
                {% } else { %}
                    <span>{%=file.name%}</span>
                {% } %}
            </p>
            {% if (file.error) { %}
                <div><span class="label label-danger">Error</span> {%=file.error%}</div>
            {% } %}
        </td>
        <td>
            <span class="size">{%=o.formatFileSize(file.size)%}</span>
        </td>
        <td>
            {% if (file.deleteUrl) { %}
                 <button class="btn btn-danger delete" data-url="{%=file.deleteUrl%}" {% if (file.deleteWithCredentials) { %} data-xhr-fields='{"withCredentials":true}'{% } %}>
                    <i class="glyphicon glyphicon-trash"></i>
                    <span>Delete</span>
                </button>
                <input type="checkbox" name="delete" value="1" class="toggle">
            {% } else { %}
                <button class="btn btn-warning cancel">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>Cancel</span>
                </button>
            {% } %}
        </td>
    </tr>
{% } %}
</script>
<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script> -->
<!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
<script src="js/vendor/jquery.ui.widget.js"></script>
<!-- The Templates plugin is included to render the upload/download listings -->
<script src="js/tmpl.min.js"></script>
<!-- <script src="//blueimp.github.io/JavaScript-Templates/js/tmpl.min.js"></script> -->
<!-- The Load Image plugin is included for the preview images and image resizing functionality -->
<script src="js/load-image.all.min.js"></script>
<!-- <script src="//blueimp.github.io/JavaScript-Load-Image/js/load-image.all.min.js"></script> -->
<!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
<script src="js/jquery.iframe-transport.js"></script>
<!-- The basic File Upload plugin -->
<script src="js/jquery.fileupload.js"></script>
<!-- The File Upload processing plugin -->
<script src="js/jquery.fileupload-process.js"></script>
<!-- The File Upload image preview & resize plugin -->
<script src="js/jquery.fileupload-image.js"></script>
<script src="js/jquery.fileupload-validate.js"></script>
<!-- The File Upload user interface plugin -->
<script src="js/jquery.fileupload-ui.js"></script>
<!-- The main application script -->
<script src="js/main.js"></script>
<!-- The XDomainRequest Transport is included for cross-domain file deletion for IE 8 and IE 9 -->
<!--[if (gte IE 8)&(lt IE 10)]>
<script src="js/cors/jquery.xdr-transport.js"></script>
<![endif]-->


</body>
 
	
	
</html>
<!-- 								        <table role="presentation" class="table table-striped"> -->
<!-- 									        <tbody class="files" > -->
<!-- 									        	<tr th:each="img : ${imgList}" class="template-download fade in"> -->
<!-- 											        <td> -->
<!-- 											            <span class="preview"> -->
<!-- 											                    <a href="" th:attr="title=${img.name}" th:attr="download=${img.name}" data-gallery=""> -->
<!-- 											                    	<img th:src="'/offer/images/'+${img.id}" style="height:90px;"> -->
<!-- 											                    </a> -->
<!-- 											            </span> -->
<!-- 											        </td> -->
<!-- 											        <td> -->
<!-- 											            <p class="name"> -->
<!-- 											                    <span th:text="${img.name}"></span> -->
<!-- 											            </p> -->
<!-- 											        </td> -->
<!-- 											        <td> -->
<!-- 											            <span class="size">undefined</span> -->
<!-- 											        </td> -->
<!-- 											        <td> -->
<!-- 											                 <button class="btn btn-danger delete" data-url="#"> -->
<!-- 											                    <i class="glyphicon glyphicon-trash"></i> -->
<!-- 											                    <span>Delete</span> -->
<!-- 											                </button> -->
<!-- 											                <input name="delete" value="1" class="toggle" type="checkbox"> -->
<!-- 											        </td> -->
<!-- 											    </tr> -->
<!-- 									        </tbody> -->
<!-- 								        </table>	-->		