<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title th:text="#{login.title}"></title>
    <!--/*/ <th:block th:include="fragments/header :: meta"></th:block> /*/-->
    
</head>
<body>
<div class="container">
	<div class="jumbotron">
		<h2 th:text="#{login.title}"></h2>
		<div class="alert alert-danger" th:if="${param.error}" role="alert">
            <h4 th:text="#{login.failed}">Invalid username and password.</h4>
        </div>
        <div class="alert alert-info" th:if="${param.logout}" role="alert">
             <h4 th:text="#{logout.confirm}">You have been logged out.></h4>
        </div>
	</div>
     	
  	   <form th:action="@{/login}" method="post">
  	   
            	<div class="form-group">
						<label for="userName" th:text="#{register.nameOrEmail}">Email address</label>
					    <input name="username" type="text" class="form-control" id="userName" th:attr="placeholder=#{register.nameOrEmail}">
				</div>
					  
				<div class="form-group">
					    <label for="password" th:text="#{register.password}">Password</label>
					    <input name="password" type="password" class="form-control" id="password" th:attr="placeholder=#{register.password}">
				</div>
				
	            <div>
	            		<input class="btn btn-block btn-success btn-lg" type="submit" th:attr="value=#{login.buttonText}"/>
	            </div>
            
        </form>
        
        <div class="text-center" style="margin:15px auto;">
				<a th:href="@{login/forgot/password}" th:text="#{login.forgotPassword}"></a>
		</div>
	</div>
</body>
</html>

    

    

    