<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Sharing Economy</title>
    <!--/*/ <th:block th:include="fragments/header :: meta"></th:block> /*/-->
</head>
<body>

	<!--/*/ <th:block th:replace="fragments/header :: ${#authorization.expression('hasRole(''ROLE_USER'')')} ? accountHeader : header"></th:block> /*/-->
	
	<div class="container text-left">
		<h3 th:text="${categoryName}"></h3>
	</div>
		<div class="container-fluid text-center">    
	  		<div class="row content">
				
				<div class="col-sm-2 text-left nopadding">
					<ul class="nav nav-pills nav-stacked" th:if="${#authorization.expression('hasRole(''ROLE_USER'')')}">
						<!--/*/ <th:block th:if="${#authorization.expression('hasRole(''ROLE_USER'')')}" th:include="fragments/other :: sidebar"></th:block> /*/-->	
					</ul>
					<div id="filter" style="margin-left:10px;">
						<div th:if="${not #lists.isEmpty(cityAggr)}">
							<h4 >Filtern nach:</h4>
							<h5 th:text="Kategorien"></h5>
							<ul>
								<li th:each="category : ${categoryAggr}" >
									<a th:href="@{'/search/'+${term}+'?category='+${category.key}}" th:text="${category.keyi18} + '  (' +${category.count}+')'"></a>
								</li>
							</ul>
						</div>
						<div th:if="${not #lists.isEmpty(categoryAggr)}" >
							<h5 th:text="Städte"></h5>
							<ul>
								<li th:each="city : ${cityAggr}">
									<a th:href="@{'/search/'+${term}+'?city='+${city.key}}" th:text="${city.key} + '  (' +${city.count}+')'"></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				
			    <div id="offerGrid" class="col-sm-8 text-left"> 
			    	 <div class="row">
<!-- 			    	 	<div th:if="param.notFound"> -->
<!-- 			    	 		Options like create Group, Themengruppe oder Nachbarsgruppe -->
<!-- 			    	 	</div> -->

						<div>
							<h3 th:if="${aggrKey}" th:text="#{search.result} + ' &quot' +${term}+ '&quot' +' in ' + '&quot'+${aggrKey} +'&quot' " ></h3>
							<h3 th:if="${cityOrZip ==null && aggrKey ==null}" th:text="#{search.result} + ' &quot' +${term}+'&quot'">Search results for ...</h3>
							<h3 th:if="${cityOrZip !=null}" th:text="#{search.result} + ' &quot' +${term}+'&quot'+' in ' + '&quot'+${cityOrZip} +'&quot'">Search results for ...</h3>
						</div>
			    	 	
			    	 	
        				<div class="col-sm-6 col-md-4 text-center offer" th:each="offer : ${offerList}">
           					<a th:href="@{'/offer/'+${offer.id}}" class="thumbnail">
                				<span th:text="${offer.title}">title</span>
				                <img style="height:250px;" th:src="@{'/offer/thumb/'+${offer.id}}">
			                </a>
		        		</div>
			    	</div>
			    	<!--/*/ <th:block th:replace="fragments/other :: pagination"></th:block> /*/-->
			    	
			    </div>
			    
			    
			    <div id="ads" class="col-sm-2">
			    	<div class="well">
		        		<p>ADS</p>
		      		</div>
				    <div class="well">
				        <p>ADS</p>
				    </div>
			    </div>
			</div>
		</div>
	
        
		
</body>
</html>