<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Sharing Economy</title>
    <!--/*/ <th:block th:include="fragments/header :: meta"></th:block> /*/-->
</head>
<body>
	<!--/*/ <th:block th:replace="fragments/header :: ${#authorization.expression('hasRole(''ROLE_USER'')')} ? accountHeader : header"></th:block> /*/-->
	<div class="container-fluid text-center">    
	  		<div class="row">
	  			<div class="col-sm-2 nopadding text-left">
						<!--/*/ <th:block th:replace="fragments/other :: sidebar"></th:block> /*/-->
				</div>
	  			<div id="multiPart" class="col-sm-8">
	  					<div class="row">
	  		
					  					<div id="userPart" class="col-sm-4"> 
					  						<div class="well">
										    	 <img th:src="@{'/user/img/' + ${user.id}}" class="img-circle img-responsive center-block" style="max-height:220px">
										    	 <h4 th:text="${user.userName}"></h4>
										    	 <span class="stars24 center-block" th:text="${user.rating}"></span>
										    	 <span th:text="'('+${user.ratingCount}+')'" style="display:block;"></span>
										    	 <a th:href="@{'/user/' + ${user.id}+'/rating'}" th:text="#{user.rate}+ ' '+${user.userName}"></a>
									    	 </div>
										</div>
										
										<div id="ratingsPart" class="col-sm-8 text-left">
										
												
										    	<h3 th:unless="${#lists.isEmpty(recentRatings)}" th:text="#{user.recentRatings}"></h3>
										    	<h3 th:if="${#lists.isEmpty(recentRatings)}" th:text="#{user.noRatings}"></h3>
									    	 	
									    	 	
									    	 	<br/>
									    	 	<div class="comments-list">	
										    	 	<div th:each="ratingItem : ${recentRatings}" class="media">
										    	 	
								                           <p class="pull-right"><small class="time" th:text="${ratingItem.created}">5 days ago</small></p>
								                            <a class="media-left" th:href="@{'/user/'+${ratingItem.fromUser.id}}">
								                              <img th:src="@{'/user/img/' + ${ratingItem.fromUser.id}}" class="img-rounded" style="max-height:60px;">
								                            </a>
							                            	<div class="media-body">
									                              <h4 class="media-heading" th:text="${ratingItem.fromUser.userName} +'s '+ #{rating.rating}"></h4>
									                              <span class="stars16" th:text="${ratingItem.stars}"></span>
									                              <span th:text="${ratingItem.comment}"></span>
					                            			</div>
				                          			</div>
		                          				</div>
		                          				
							    	 
							    		
										  </div>  
								
					    </div>
					    
					    <div class="row content">
					    		
					    		<div id="offerPart" class="col-sm-12">
					 			 		<div class="page-header text-left">
					 			 			<h2>Angebote</h2>
					 			 		</div>
					 			 		
						    			<div class="col-sm-6 col-md-4 text-center offer" th:each="offer : ${offerList}">
				 
				           					<a th:href="@{'/offer/'+${offer.id}}" class="thumbnail">
				                				<span th:text="${offer.title}">title</span>
								                <img style="height:250px;" th:src="@{'/offer/thumb/'+${offer.id}}">
							                </a>
			        						
			        					</div>
		        					
		        				<!--/*/ <th:block th:replace="fragments/other :: pagination"></th:block> /*/-->
					    		</div>
					    		
					    </div>
	  			</div>
	  			
	  			<div id="addsPart" class="col-sm-2">
	  				<div class="row">
		  				<div class="well">
				        	<p>ADS</p>
				      	</div>
				     </div>
					<div class="row">
		  				<div class="well">
				        	<p>ADS</p>
				      	</div>
				     </div>
	  			</div>
	  			
	  		</div> <!-- closes row content -->	
	</div> <!-- closes container-fluid -->	
	
				   
	
	
		
</body>
	<script>
			$(function() {
			    $('span.stars16').stars16();
			    $('span.stars24').stars24();
			    $('small.time').timediff();
			});
	</script>
	<script type="text/javascript">
			$.fn.stars16 = function() {
			    return $(this).each(function() {
			        $(this).html($('<span />').width(Math.max(0, (Math.min(5, parseFloat($(this).html())))) * 16));
			    });
			}
			
			$.fn.stars24 = function() {
			    return $(this).each(function() {
			        $(this).html($('<span />').width(Math.max(0, (Math.min(5, parseFloat($(this).html())))) * 24));
			    });
			}
	</script>
	<script type="text/javascript">
	$.fn.timediff = function() {
		 return $(this).each(function() {
			 var timestamp = $(this).html();
			 var d1 = new Date(timestamp);
			 var seconds = (new Date() - d1)/1000;
			 var days = seconds/(3600*24)
			 var hours = seconds/3600;
			 var minutes = seconds/60;
			 if(days >=7){
				 $(this).html(d1);
				 
			 } else if (days >= 1) {
			 
			 		if(Math.floor(days)>1)
			 			$(this).html("vor " + Math.floor(days) + " Tagen" );
			 		else
			 			$(this).html("vor " + Math.floor(days) + " Tag" );
			 		
		 	} else if (hours >= 1 ) {
		 		
		 			if(Math.floor(hours)>1) 
		 				$(this).html("vor " + Math.floor(hours) + " Stunden" );
		 			else
		 				$(this).html("vor " + Math.floor(hours) + " Stunde" );
		 	} else if (minutes >= 1){
			 		if(Math.floor(minutes)>1) 
		 				$(this).html("vor " + Math.floor(minutes) + " Minuten" );
		 			else
		 				$(this).html("vor " + Math.floor(minutes) + " Minute" );
		 	} else {
			 		if(Math.floor(seconds)>1) 
		 				$(this).html("vor " + Math.floor(seconds) + " Sekunden" );
		 			else
		 				$(this).html("vor " + Math.floor(seconds) + " Sekunde" );
		 	}
		 });
	}

		
	</script>
	
</html>
